<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            body{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            span {
                padding: 1em;
            }
            .error {
                color: red;
            }
            .login {
                display: block;
                padding: 10em;
                text-align: left;
            }

        </style>
    </head>
    <body>
        {% block content %}
        
        {% endblock %}
    </body>
</html>