<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
     <h1>User Signup</h1>
     <form method='post'>
     User name:
        <input type="text" />
    Email:
        <input type="email1" />
        <p id="email1_error">{{ email1_error }}</p>
    Verify email:
        <input type="email2" />
        <p id="email2_error">{{ email2_error }}</p>
    Password:
        <input type="password" />
        <input type="submit" value="Submit" />
        <p id="password_error">{{ password_error }}</p>         
     </form>
        {% block content %}
        
        {% endblock %}
    </body>
</html>