{% extends 'base.html' %}
{% block content %}
    <h1>User Signup</h1>
    <p>{{ email_error }}</p>
    <p>{{ password_error }}</p>
    <form method='post'>
    <table>
    <tr>
        <td>User name:</td>
        <td><input type="text" name="user" value="{{user}}" /></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td><input type="password" name="pass1" value="{{pass1}}" /></td>
    </tr>
    <tr>
        <td>Verify Password:</td>
        <td><input type="password" name="pass2" value="{{pass2}}" /></td>
    </tr>
    <tr>
        <td>Email (optional):</td>
        <td><input type="email" name="email" value="{{email}}" /></td>
    </tr>    
    <tr>
        <td><input type="submit" value="Submit" /></td>
    </tr>
    </form>
{% endblock %}